{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

<div  >
        <h3>Créer votre compte !</h3>
     
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
</div>

{% endblock %}