<form>
    <div class="input-group mb-3">

        <input type="text" name="q" class="form-control" placeholder="Rechercher par le nom..." value="{{ app.request.query.get("q") }}">

        <div class="input-group-append">

            <button type="submit" id="search_submit"
                    class="btn btn-outline-dark">
                <span class="fa fa-search"></span>
            </button>

        </div>
    </div>
</form>