* {
    box-sizing: border-box;
}

body {
    background-color: white;
    background-size: cover;
    color: black;
}

.footer {
    color: black;
    border-top: 1rem solid;
    background-image: url(/asset/doc/Background/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-image: url(/asset/doc/Background/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 30%;
    margin-left: 20%;
}

.homepagecard {
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 71%;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: flex-end;
}

h1,
h2,
h3 {
    margin: 2% auto auto;
    width: 50%;
    padding: 0.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.product-title {
    margin: 0 auto 0 0;
    text-align: left;
    width: 100%;
}

h3 {
    background-color: #A9E7FE;
    width: 40%;
    border-radius: 50px;
}

#cocorico {
    margin: 2% auto auto;
    margin-bottom: 2rem;
    ;
    text-align: center;
    background-image: url(/asset/doc/Background/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    border-radius: 50px;
}

.universtitle {
    text-align: center;
    width: 70%;
    background-color: #A9E7FE;
    color: black;
    border-radius: 50px;
}

.description {
    height: 100px;
}

.label-producer-homepage {
    background-color: #A9E7FE;
}

.description-producer-homepage {
    height: 185px;
    overflow: hidden;
}

.label-product-card {
    background-color: #A9E7FE;
    height: 190px;
}

.producer-card-product {
    height: 40%;
}

.product-button {
    background-color: #A9E7FE;
    margin-right: 0.4rem;
}

.product-block {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.product-button-seemore {
    background-color: #A9E7FE;
    margin: 10px;
}

.producter-button-shop {
    background-color: #A9E7FE;
    color: black;
}


/* --- HEADER --- */

.dropdown {
    float: left;
}

.dropdown-list::after {
    content: "";
    display: table;
    clear: both;
}

.dropdown-category {
    text-align: center;
    font-weight: bold;
}

.login-form,
.producer-form {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
    box-shadow: 0px 0px 20px #aaa;
    border-radius: 10px;
    text-align: center;
    height: 100%;
}

.producer_profil {
    display: flex;
}

a {
    color: black;
}

.btn {
    text-transform: uppercase;
}

.flash {
    text-align: center;
    margin: auto auto;
    width: 50%;
}

.search form {
    margin: auto auto;
    text-align: center;
}

.search form button {
    color: red;
}

.list-group-flush {
    height: 300px;
}

@media (max-width: 1200px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        margin: auto auto;
    }
    li {
        margin: 1rem;
    }
    .search form {
        margin: auto auto;
        text-align: center;
    }
    .search form button {
        color: red;
        /* text-align: center; */
        margin: auto auto;
    }
}

.carousel-card-body {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dot span {
    background-color: transparent!important;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc!important;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #000!important;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

span[aria-label="Next"],
span[aria-label="Previous"] {
    font-size: 70px;
    position: relative;
    top: -5px;
}

.owl-nav button:focus {
    outline: none;
}