 <!-- footer -->
 <div class="footer container-fluid  bottom mt-4">
    <div class="text-center">
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="ft-logo"><img src="#" alt=""></div>
            </div>
        </div>
        <hr class="footer-line">
        <div class="row ">
            <!-- footer-about -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Cocorico</div>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('company_page') }}">Qui sommes-nous</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Livraison</a></li>
                        
                    </ul>
                </div>
            </div>
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget">
                    <span>Suivez-nous</span>
                    <ul class="list-unstyled d-flex">
                        <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
                        <li><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></li>
                        <li><i class="fa fa-facebook-official fa-2x " aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <h3 class="footer-title">S'abonner à la newsletter</h3>
                    <form>
                        <div class="newsletter-form">
                            <input class="form-control" placeholder="Votre adresse e-mail" type="text">
                            <button class="btn btn-default btn-sm" type="submit">Go</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- tiny-footer -->
        </div>
        <div class="row ">
            <div class="border-top  col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                <div class="tiny-footer bg-secondary text-light">
                    <p>Copyright © 2019 Cocorico Tout droits réservés | <a href="#"> CGV</a> | <a href="#">Information légales</a></p>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
</div>
<!-- /.footer -->