
<nav class="container-fluid contnav nav>navbar navbar-expand-lg navbar-light bg-primary mb-3 ">
    <a class="navbar-brand" href="#">Cocorico.world</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-end flex-column" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <i class="fa fa-home fa-3x ml-2 " aria-hidden="true"></i>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <i class="fa fa-user fa-3x ml-4" aria-hidden="true"></i>
          <a class="nav-link" href="#">Mon Profil</a>
        </li>
        <li class="nav-item active">
          <i class="fa fa-shopping-cart fa-3x " aria-hidden="true"></i>
          <a class="nav-link" href="#">Panier</a>
        </li>
        
      </ul>
    </div>
    <div class="container search"></div>
      <form class="form-inline d-flex align-items-end ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  
  {#{% for univers in universelement%}#}
  <div class="dropdown" style="display:flex">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Univers 1</a> <!-- lien -->
      <div class="dropdown-menu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category 1</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Sub-Category 1</a>
            <a class="dropdown-item" href="#">Sub-Category 2</a>
            <a class="dropdown-item" href="#">Sub-Category 3</a>
          </div>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category 2</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Sub-Category 1</a>
            <a class="dropdown-item" href="#">Sub-Category 2</a>
            <a class="dropdown-item" href="#">Sub-Category 3</a>
          </div>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category 3</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Sub-Category 1</a>
            <a class="dropdown-item" href="#">Sub-Category 2</a>
            <a class="dropdown-item" href="#">Sub-Category 3</a>
          </div>
      </div>
</div> 
  </nav>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    
  