{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<div class="container">


  <h1>Mentions légales</h1>
   
  
  <h2>Propriété intellectuelle :</h2>

  <p>Toutes les données de : textes, photographies, illustrations, icônes, bases de données, etc… Sont la propriété exclusive de Cocorico-World Company. Toute utilisation, fait l’objet d’une autorisation spécifique à demander auprès de Cocorico-World Company.</p>
  
  <h2>Confidentialité :</h2>
  
  <p>Cocorico-World Company n’enregistre pas d’informations personnelles permettant l’identification, à l’exception des formulaires que l’utilisateur est libre de remplir. Ces informations ne seront pas utilisées sans votre accord, nous les utiliserons seulement pour vous adresser des courriers, des brochures, des devis ou vous contacter. « Les informations recueillies sur les sites bénéficient de la protection de la loi « Informatique et Libertés » n° 78-17 du 06 janvier 1978. Elles bénéficient d’un droit d’accès, de rectification, d’opposition à communication et de suppression sur simple demande à Cocorico-World Company, 65 chemin des Essarts l’Amour, 25000 Besançon – FRANCE.
  Cocorico-World Company pourra procéder à des analyses statistiques sans que celles-ci soient nominatives et pourra en informer des tiers (organismes d’évaluation de fréquentation) sous une forme résumée et non nominative.
  
  Ce site est la propriété de Cocorico-World Company, dont le siège social est situé 65 chemin des Essarts l’Amour, 25000 Besançon – FRANCE</p>
  
  <h2>Utilisation de cookies :</h2>

  <p>La gestion des commandes nécessite l’utilisation de cookies. Des informations non personnelles sont enregistrées par ce système de cookies (fichiers texte utilisés pour reconnaître un utilisateur et ainsi faciliter son utilisation du site). Ceux-ci n’ont aucune signification en dehors de leur utilisation sur le site https://www.cocorico-world.fr</p>
  
  <h2>Liens hypertexte :</h2>

  <p>Cocorico-World Company ne contrôle pas les sites en connexion avec le sien, et ne saurait donc être responsable de leur contenu. Les risques liés à l’utilisation de ces sites incombent pleinement à l’utilisateur. Il se conformera à leurs conditions d’utilisation.</p>
  
  <h2>Editeur :</h2>

  <p>Cocorico-World Company</p>
  
  <h2>Siège social :</h2> 

  <p>65 chemin des Essarts l’Amour,<br> 
    25000 Besançon – FRANCE<br>
    N° de téléphone : 06.37.12.43.69</p>
  
  <p>Sébastien Marcaire</p>
  
  <h2>Hébergement :</h2>

  <p>OVH – http://www.ovh.com
  Siège social : 2 rue Kellermann – 59100 Roubaix – France
  La société OVH est une SAS au capital de 10 059 500 €, immatriculée au Registre du Commerce et des Sociétés de Lille Métropole sous le numéro 424 761 419 00045.</p>

</div>

{% endblock %}